.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;    
}

.container img {
    width: 30%;
}

.container .title {
    color: rgb(25, 171, 219);
}

.container .sub-title {
    color: rgb(81, 87, 88);
    margin-top: 1rem;
}

.container .description {
    color: rgb(81, 87, 88);
    margin-top: 0.4rem;
    padding: 1rem;
    border-bottom: 1px solid black;
}