.move-box {
    font-family: sans-serif;
    text-align: center;
    padding-top: 100px;
    min-height: 100vh;
    background: #44a851;
    color: rgb(225, 250, 228);
}

.box {
    width: 125px;
    height: 125px;
    background: #dc5b39;
    margin: 0 auto;
    transform: translateY(300px);
    transition: 0.3s cubic-bezier(0.56, 0.2, 0.46, 1.27) all;
}

.btn-box {    
    padding: 10px 20px;
    background: #049ad7;
    color: rgb(225, 244, 252);    
    border-radius: 10px;
    border: none;
    cursor: pointer;
}