div > h1{
    text-align: center;
    padding: 0.6rem;
    background: lightblue;
    font-size: 2rem;
}

.components-content {
    margin: 1.6rem 1rem;
}

.components-content h4{
    text-align: center;
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
}